.work-project-wrapper {
    position: relative;
    border-radius: .5rem;

    /* width: clamp(16rem, 22rem, 24rem); */

    background: rgb(152, 177, 225);


}

.work-project-wrapper:hover {

}

.preview-work-project {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 6rem;
    height: 6rem;
    scale: 0;
}

.work-project-wrapper:hover .preview-work-project {
    scale: 1;
    transition: .3s;
}

.preview-work-project span {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 1.9rem;
    padding: .3rem;
    border-radius: .3rem;
    transition: .3s;
    cursor: pointer;
    background: lightgray;
}

.preview-work-project:hover span {
    box-shadow: 0 0 10px 10px rgba(2, 9, 15, 0.1);
}

.preview-work-project img {
    width: 1.5rem;
}

.work-project {
    display: flex;
    flex-direction: column;
    text-align: right;
    scale: .96;
    transition: .5s;
}

.work-project-figure {
    aspect-ratio: 16/9;
    background: rgba(98, 123, 123, 0.4);
    border-radius: .5rem;
    box-shadow: var(--shadow);
    overflow: hidden;
}

.work-project-figure img {
    aspect-ratio: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.work-project-figure:hover img {
    /* scale: 1.04; */
}

.work-project-description {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .7rem;
    height: 5.5rem;
    overflow: hidden;

    /* background: rgba(173, 128, 128, 0.4); */
}

.work-project-description div {
    height: 100%;
    width: 100%;
    padding: 0.3rem;
    color: var(--clr-dark);

    /* background: #ccc; */
}

.work-project-description h3 {
    font-size: 1.2rem;
}

.work-project-description p {
    /* border: solid 1px red; */
}

.work-project-description img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    background-color: #fffc;
    background-color: var(--clr-light);
}




/* @media (min-width: 475px) {} */

/* @media (min-width: 640px) {} */

/* @media (min-width: 768px) {} */

/* @media (min-width: 1024px) {} */

/* @media (min-width: 1280px) {} */

/* @media (min-width: 1536px) {} */