.portfolio-main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-flow: wrap;
    gap: 1rem;
}

.portfolio-showcase {
    /* width: 40%; */
    flex: 1 1 35%;
}
.portfolio-showcase img {
    aspect-ratio: 16/9;
    object-fit: contain;
    
    border: solid 2px crimson;
}

.portfolio-information {
    background: #ccc;
    padding: .5rem;
    /* border: solid 4px blue; */

    display: flex;
    flex-direction: column;

    gap: 1rem;

    /* width: 60%; */
    flex: 1 1 55%;

    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.portfolio-information > div {
    border: solid 2px crimson;
}

.project-info-title {
    /* background: seagreen; */
}

.project-info-title > h1 {
    text-align: right;
    color: var(--clr-dark);
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project-info-part {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .7rem;

    border: solid 2px blue;
}

.project-info-part > img {
    border: solid 2px black;

    aspect-ratio: 1/1;
}
.project-info-part > div {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row-reverse;
    gap: .3rem;
}
.project-info-part > div h3 {}
.project-info-part > div p {}

.project-description {
    flex: 1 1 100%;
}
.project-tags-wrapper {

}